<div class="newPostAlertContainer genericPopup hidden" id="genericPopupContainer">
	<div class="newPostAlert" id="genericPopupContent">
		<img id="genericPopupIcon" class="hidden" src="/assets/logo.png"></img>
		<span id="genericPopupMessage">-mensaje-</span>
		<div class="genericPopupClose">x</div>
	</div>
</div>

