<div class="newPostAlertContainer genericPopup <%= it.sesion.config.sidebar ? "" : "sideContract" %> hidden" id="queryPopupContainer">
	<div class="newPostAlert" id="queryPopupContent"></div>
</div>

