<div id="searchPopup" class="dropdown-content searchPopup hidden">
	<input id="searchInput" class="searchInput hide in" type="text" placeholder="Introduce el criterio a buscar..." maxlength="50" style="display: inline-block; padding-right: 0px;">
</div>
