body {
	background: var(--mainBackground);
	color: white;
}

.home-temalist span {
	width: 100%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
	display: flex;
	justify-content: space-between;
	margin-right: 10px;
}

.pcontainer {
	border: 2px solid var(--modal-border);
	background: #101010;
	width: 90%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
}

.pcontainer-int {
	margin-bottom: 10px;
}

.pcontainer-int .itemButton {
	margin-right: 5px;
}

.act-int {
	display: flex;
	justify-content: space-evenly;
	max-height: 35vh;
	overflow: hidden;
}

.act-uid {
	color: #9e9e9e;
}

.act-uid:hover {
	color: yellow;
	cursor: pointer;
}

.buttonPress {
	margin: 3px;
}

.admConsole {
	background: var(--base-background3);
	padding: 5px;
	margin-top: 5px;
	padding-right: 10px;
}

.admConsole-int {
	display:flex;
}

.admConsole-int input {
	width:100%;
	margin: 5px;
	flex-basis: 100%;
	color: var(--form-textArea-text);
	background: var(--form-textArea);
	border-radius: 4px;
	border: 1px solid var(--form-textArea-border);
	outline: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: 1.5;
}

.consoleResult {
	max-height: 15vh;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #000;
	color: white;
	padding: 5px;
	font-size: small;
	font-family: console;
}

.home-temalist {
	display: block;
}
.home-temalist span {
	width: inherit;
	height: inherit;
}

.home-temalist i {
	align-self: center;
}

.act-uid {
	font-size: 0.7rem;
}

.act-title {
	word-break: break-word;
	color: var(--adm-box-title);
}

.act-image {
	width: 90% !important;
	height: 150px !important;
	max-height: 100px !important;
	margin: 3px;
	object-position: top;
	padding: 2px;
	background: #2196f3;
}

.home-temalist .act-uid {
	/*justify-content: end;*/
}

.chatlike {
	width: 50%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.chatlike-container {
	margin-top: auto;
	margin-bottom: auto;
}

.anonIcon {
	width: 35px;
	height: 35px;
	margin-right: 5px;
}

.anonText {
	font-size: 0.8rem;
}

.tag {
	width: 0px;
	height: 0px;
}

@media only screen and (max-width: 600px) {
	.admActivity {
		display: none;
	}
}

/* adm cchan */
.box {
	width: calc(100% / 5);
	height: calc(100vw / 6);
}

@media only screen and (max-width: 1280px) {
	.box {
		width: calc(100% / 4);
		height: calc(100vw / 5);
	}
	.boxList {
		width: 76.5vw !important;
	}
	.homeBar {
		margin-left: 76.5vw !important;
		width: 23vw !important;
	}
}

@media only screen and (max-width: 1024px) {
	.box {
		width: calc(100% / 3);
		height: calc(100vw / 4);
	}
	.boxList {
		width: 73.5vw !important;
	}
	.homeBar {
		margin-left: 73.5vw !important;
		width: 26vw !important;
	}
}

@media only screen and (max-width: 900px) {
	.box {
		width: calc(100% / 4);
		height: calc(100vw / 4);
	}
	.boxList {
		width: 100% !important;
	}			
	.homeBar {
		display: none !important;
	}
}

@media only screen and (max-width: 800px) {
	.box {
		width: calc(100% / 3);
		height: calc(100vw / 3);
	} 
	.boxList {
		width: 100% !important;
	}
	.homeBar {
		display: none !important;
	}
	.actionBotton {
		display: flex;
	}
}

@media only screen and (max-width: 600px) {
	.box {
		width: calc(100% / 2);
		height: calc(100vw / 2);
	}
	.modHome{
		width: 100%;
	}
	.boxList {
		width: 100% !important;
	}
	.homeBar {
		display: none !important;
	}
}
.voxWraper {
	display: flex;
	height: calc(100vh - 50px);
}
.boxList {
	position: absolute;
	width: 79.5vw;
}
.homeBar {
	flex-grow: 1;
	position: fixed;
	overflow-y: hidden;
	height: 100%;
	margin-left: 79.5vw;
	width: 20vw;
	background: var(--homebar-background);
}

.homebarIcon img{
	max-height: 50px;
	display: block;
	margin: auto;
	border-radius: 5px;
}

.home-temalist {
	display: flex;
	background: var(--slidemenu-chat);
    border-radius: 5px;
	margin: 1px 3px;
	margin-bottom: 5px;
	cursor: pointer;
}

.home-temalist:hover {
	background: var(--slidemenu-chat-hover);
}

.home-temalist img{
	width: 35px;
	height: 35px;
	min-width: 35px;
	max-height: 35px;
	margin-right: 5px;
	border-radius: 3px;
	object-fit: cover;
}

.joinCommunity{
	text-align: center;
    background: #ea740e;
    margin-top: 10px;
	cursor: pointer;
}

.joinCommunity:hover{
	background: #fa841e;
}

.home-category{
	width: 100%;
	background: var(--tarjeta-background);
    border: 1px solid var(--tarjeta-border-color);
    margin: 1px;
	margin-top: 3px;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
}

.home-category-boxlist{
	padding-bottom: 2px;
	display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    z-index: 1;
    overflow: hidden;
}

.home-category-title{
	display: flex;
	padding: 8px;
	background-color: var(--tarjeta-title-background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	cursor: pointer;
}

.home-category-title-text{
	align-self: center;
	font-size: 0.8rem;
	color: inherit;
}

.home-category-image {
	width: 20px;
	height: 20px;
	border-radius: 2px;
    margin-right: 10px;
}

.home-title-element {
	align-self: center;
	padding-left: 5px;
	margin-left: 5px;
}

.homelink:hover {
	color: var(--homelink-hover) !important;
}
.homelink:link {
	text-decoration: none;
}

.homeBar {
	flex-grow: 1;
	position: fixed;
	overflow-y: hidden;
	height: 100%;
	margin-left: 79.5vw;
	width: 20vw;
	background: var(--homebar-background);
}
		
.homebarIcon img{
	max-height: 50px;
	display: block;
	margin: auto;
	border-radius: 5px;
}

.acttitle a {
	color: inherit;
	text-decoration: none;
}
.acttitle a:hover {
	color: inherit;
}

.chatlike {
    color: var(--slidemenu-chat-text);
	font-size: 13px;
    border-radius: 5px;
    border-radius: 5px;
}

.chatlike-user {
	color: var(--activity-user);
}


.chatlike-box {
	background-color: var(--slidemenu-chat);
	padding: 4px;
	padding-right: 10px;
	border-radius: 4px;
	margin-bottom: 4px;
	display: flex;
	cursor: pointer;
}

.chatlike-text {
	word-break: break-word;
}

.chatlike-image {
	width: auto;
	max-width: 100%;
    max-height: 150px;
	margin-top: 2px;
	border-radius: 5px;
    border: 1px solid #3a3a3a;
}

.chatlike-box:hover {
	background-color: var(--slidemenu-chat-hover);
}

.chatlike-data {
	margin-left: 5px;
}

.chatlike-img img {
	max-width: 30px;
    max-height: 30px;
}

.chatlike-title {
	line-break: anywhere;
	word-break: break-all;
}

.chatlike-text span {
	word-break: break-word;
}

.chatlike-text a {
    word-break: break-word;
}

.commentAvatar .anonIcon {
	max-width: 40px;
	max-height: 40px;
}