/*
    FILE ARCHIVED ON 04:39:48 Mar 02, 2020 AND RETRIEVED FROM THE
    INTERNET ARCHIVE ON 01:05:16 Nov 23, 2020.
	 
	MODIFICADO PARA EL PROYECTO BOX
*/

:root {
    --base-background1: #e6e6e6;
    --base-background2: #e0e0e0;
    --base-background3: #ececec;
    --navbar-background: #fbfbfb;
    --newbox-button: #2196f3;
    --newbox-button-hover: #3fa5f7;
    --button1: #2196f3;
    --button1-hover: #03a9f4;
    --button1-active: 2px solid #3f51b5;
    --button1b: #2196f3;
    --button1b-hover: #03a9f4;
    --comment-background: #f5f5f5;
    --comment-background-hover: #f9f9f9;
    --comment-background-jump: #ffffff;
    --box-links: #2196f3;
    --box-links-hover: #00bcd4;
    --bar1: #f5f5f5;
    --bar1-text: #2196f3;
    --box-text: #0a0a0a;
    --text-name: #4c4c4c;
    --text-author: #5d3505;
    --text-createdAt: #960000;
    --text-createdAt2: #00000096;
    --text-voxCount: #343a40;
    --tag1: #2196f3;
    --comment-textArea: #efefef;
    --comment-textArea-border: #afafaf;
    --comment-textArea-focus: white;
    --comment-textArea-text: #0a0a0a;
    --slidemenu-background: #fdfdfd;
    --slidemenu-chat: #f5f5f5;
    --slidemenu-chat-hover: #dfdedc;
    --scrollbar-thumb: #2196f3;
    --scrollbar-thumb-hover: #6db7f3;
    --scrollbar-track: #d4d4d4;
    --logo-color: #2196f3;
    --navbar-icon-color: #2196f3;
    --navbar-icon-hover: #ececec;
    --menumodal-notif-background: #ffffff;
    --menumodal-notif-hover: #2196f3;
    --menumodal-notif-text: black;
    --menumodal-notif-text-hover: #ffffff;
    --menumodal-bordertop-color: #e2e2e2;
    --menumodal-borderbottom-color: #dedede;
    --slidemenu-text: #0b0b0b;
    --slidemenu-text-hover: white;
    --slidemenu-background-hover: #038dcc;
    --slidemenu-color1: #9e9e9e;
    --slidemenu-chat-text: black;
    --box-attach-background: #dcdcdc;
    --quote-border: #9e9e9e;
    --loadmore-background: #f5f5f5;
    --loadmore-background-hover: #ffffff;
    --modalbox-background: white;
    --info-background: #fbfbfb;
    --button2: white;
    --button2-color: #4a4a4a;
    --button2-border: #d1d1d1;
    --button3: #f3f3f3;
    --button3-color: #4c4c4c;
    --button3-border: #eaeaea;
    --form-textArea: white;
    --form-textArea-border: #c1c1c1;
    --button-close: black;
    --button-close-hover: black;
    --preview-background: #f9f9f9;
    --button3-hover: #2196f3;
    --alert-background: #dedede;
    --alert-border: #929292;
    --alert-color: black;
    --link-color: #43439e;
    --activity-user: #3f51b5;
    --tarjeta-title-background: #fafafa;
    --tarjeta-background: #fafafa;
    --tarjeta-border-color: #c9c9c9;
    --homebar-background: #fafafa;
    --homebar-tarjeta-background: #fafafa;
    --home-menu-background: white;
    --home-menu-element-hover: #c3c3c3;
    --goup: #f5f5f5;
    --goup-hover: #ffffff;
    --rawAttach-background: #dcdcdc;
    --op: #2196f3;
    --poll: #2196f3;
    --poll-hover: #4eacf7;
    --poll-voted: #4eacf7;
    --poll-loading: #606060;
    --newBoxButton-background: #3f51b5;
    --option-icon-color: #00bcd4;
    --slider-checked: #2196f3;
    --slider-unchecked: #ccc;
    --modal-border: #2196f3;
    --menumodal-notif-title: #03a9f4;
    --homelink-hover: #3f51b5;
    --modal-background: white;
    --tag1-sticky: #4caf50;
    --hometag1: #0579b3;
    --categoryTitle: black;
    --categoryTitle-hover: #4eacf7;
    --moreload-background: #3f51b5;
	--adm-box-title: #2196f3;
}

html[data-theme='darkmode'] {
    --base-background1: #383838;
    --base-background2: #4e4e4e;
    --base-background3: #252525;
    --navbar-background: #3c3c3c;
    --newbox-button: #494a4a;
    --newbox-button-hover: #3fa5f7;
    --button1: #2f2f2f;
    --button1-hover: #03a9f4;
    --button1-active: 2px solid #3f51b5;
    --button1b: #565656;
    --button1b-hover: #03a9f4;
    --comment-background: #403f3f;
    --comment-background-hover: #444444;
    --comment-background-jump: #313131;
    --box-links: #f7f7f7;
    --box-links-hover: #00bcd4;
    --bar1: #403f3f;
    --bar1-text: #f7f7f7;
    --box-text: #f7f7f7;
    --box-test-hover: #2196f3;
    --text-name: #f7f7f7;
    --text-author: #bbbbbb;
    --text-createdAt: #f7f7f7;
    --text-createdAt2: #f7f7f7;
    --text-voxCount: #f7f7f7;
    --tag1: #3f51b5;
    --comment-textArea: #505050;
    --comment-textArea-border: #383737;
    --comment-textArea-focus: #585858;
    --comment-textArea-text: #f7f7f7;
    --slidemenu-background: #333333;
    --slidemenu-chat: #404040;
    --slidemenu-chat-hover: #4f4f50;
    --scrollbar-thumb: #2196f3;
    --scrollbar-thumb-hover: #6db7f3;
    --scrollbar-track: #585858;
    --logo-color: #f7f7f7;
    --navbar-icon-color: #f7f7f7;
    --navbar-icon-hover: #03a9f4;
    --menumodal-notif-background: #333333;
    --menumodal-notif-hover: #515252;
    --menumodal-notif-text: #f7f7f7;
    --menumodal-notif-text-hover: #ffffff;
    --menumodal-bordertop-color: #252525;
    --menumodal-borderbottom-color: #383838;
    --slidemenu-text: #f7f7f7;
    --slidemenu-text-hover: white;
    --slidemenu-background-hover: #038dcc;
    --slidemenu-color1: #131212;
    --slidemenu-chat-text: #ffffff;
    --box-attach-background: #505050;
    --quote-border: #5e5e5e;
    --loadmore-background: #333333;
    --loadmore-background-hover: #3e3d3d;
    --modalbox-background: #333333;
    --info-background: #fbfbfb;
    --button2: #444444;
    --button2-color: #f7f7f7;
    --button2-border: #232222;
    --button3: #444444;
    --button3-color: #f7f7f7;
    --button3-border: #2f2f2f;
    --form-textArea: #404040;
    --form-textArea-text: #f7f7f7;
    --form-textArea-border: #292929;
    --button-close: black;
    --button-close-hover: black;
    --preview-background: #444444;
    --button3-hover: #2196f3;
    --alert-background: #333333;
    --alert-border: #2196f3;
    --alert-color: #f1f1f1;
    --link-color: #7676ff;
    --activity-user: #c1c1c1;
    --tarjeta-title-background: #3c3c3c;
    --tarjeta-background: #3c3c3c;
    --tarjeta-border-color: #202020;
    --homebar-background: #282828;
    --homebar-tarjeta-background: #363636;
    --home-menu-background: #464646;
    --home-menu-element-hover: #2196f3;
    --goup: #2a2a2a;
    --goup-hover: #323232;
    --rawAttach-background: #dcdcdc;
    --op: #3f51b5;
    --poll: #3f51b5;
    --poll-hover: #596bcd;
    --poll-voted: #6279f5;
    --poll-loading: #606060;
    --newBoxButton-background: #3f51b5;
    --option-icon-color: #00bcd4;
    --homelink-hover: #3f51b5;
    --modal-background: #3c3c3c;
    --tag1-sticky: #4caf50;
    --hometag1: #3f51b5;
    --categoryTitle: white;
    --categoryTitle-hover: #4eacf7;
    --moreload-background: #3f51b5;
	--adm-box-title: #2196f3;
}


/* CODIGO DE VOXEDRIP.CSS ADAPTADO */
/* RECICLADO COMO ESQUELETO BASE */

*,
*::before,
*::after {
  box-sizing: border-box;
}

nav {
	display: flex;
	background: var(--navbar-background);
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
	height: 50px;
	position: fixed;
	width: 100%;
	z-index: 6;
	top: 0; 
}

body {
	padding:50px 0px 0px;
	margin: 0px;
	font-family: Lato,sans-serif;
	background-color: var(--base-background);
	color: var(--box-text);
}

.logo {
	display: flex;
	cursor: pointer;
	align-items: center;
	font-size: 1.3rem;
	font-family: monospace;
	color: var(--logo-color);
	padding: 4px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 8px;
	text-decoration: none;
}

.logo img{
	width: auto;
	max-width: 100%;
	height: 30px;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 2px;
	content: var(--logoimg);
}

ul.menu {
	align-items: center;
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
	padding: 4px;
	list-style-type: none;
}

li.newBox { 
	color: white;
	background: var(--newbox-button);
	padding: 12px;
	margin-left: 3px;
	border-radius: 4px;
	font-family: Arial,"Lucida Grande",sans-serif;
	font-weight: 600;
	font-size: .8em;
	cursor: pointer;
}

li.newBox:hover{
	transition: .2s;
	background: var(--newbox-button-hover);
}

li.newBox:active { background: var(--newbox-button-hover); }

li.menuIcon {
	padding: 10px 10px;
    margin-right: 4px;
    border-radius: 4px;
    cursor: pointer;
    color: var(--navbar-icon-color);
    display: flex;
    align-items: center;
}

li.menuIcon:hover { background: var(--navbar-icon-hover); }
li.menuIcon:active { background: var(--navbar-icon-hover);  }

.categoryListNavbar {
    position: absolute;
    background: var(--menumodal-notif-background);
    height: 20vw;
    overflow-y: scroll;
    top: 43px;
    width: 220px;
    box-shadow: 0px 2px 5px 0 #6b6b6b7a;
    left: 0px;
}

li.navbarCategories {
    display: flex;
    position: relative;
    margin-right: 4px;
    border-radius: 4px;
    color: #545454;
}


.categoryItem {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    font-size: 14px;
    margin-bottom: 2px;
    cursor: pointer;
	text-decoration: none;
}

.categoryItem:hover {
    background: var(--menumodal-notif-hover);
}

.categorySelected {
    font-size: 14px;
    padding: 10px 12px;
    color: var(--navbar-icon-color);
    display: flex;
    align-items: center;
}

li.navbarCategories:hover {
    background: var(--navbar-icon-hover);
}

.categorySelected i {
    margin-right: 8px;
    font-size: 16px;
}

.menu .search {
    display: none;
}

.menu .mobile.closeSearch {
    display: none;
}

.searchBox .menuIcon {
    display: none;
}

.searchBox li.menuIcon.mobile{
    display: none;
}

.searchBox .mobile.menuIcon.closeSearch {
    display: flex;
}
.searchBox .search {
    display: flex;
}

.menuModal {
	padding-right: 0px !important;
    z-index: 3;
    position: absolute;
    top: 50px;
    background: var(--menumodal-notif-background);
    width: 350px;
    right: 115px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 5px 0 #6b6b6b7a;
    /*display: flex;*/
    max-height: 300px;
    border-top: 1px solid var(--menumodal-bordertop-color);
    overflow-y: scroll;
    overflow-y: overlay;
}

li.noNotification {
    justify-content: center;
    font-size: 14px;
}

.menuModal ul {
    flex-basis: 100%;
	margin: 0px;
    padding: 0px;
}

.menuModal ul li {
    padding: 12px 16px;
    border-bottom: 1px solid var(--menumodal-borderbottom-color);
    color: var(--menumodal-notif-text);
    display: flex;
    cursor: pointer;
	font-size: 0.8em;
}

.menuModal ul li .avatar {
    margin-right: 12px;
    position: relative;
}

.menuModal ul li .avatar img {
    width: 48px;
    border-radius: 4px;
    height: 48px;
    background: #3f96c5;
    display: flex;
	object-fit: cover;
}

.menuModal ul li .notification {
    font-size: 14px;
    word-break: break-word;
}
.menuModal ul li:hover {
    background: var(--menumodal-notif-hover);
	color: var(--menumodal-notif-text-hover);
}

.menuModal ul li:active {
    background: var(--menumodal-notif-hover);
	color: var(--menumodal-notif-text-hover);
}

.menuModal ul li.hide {
    display: none;
}

.countNotifications {
    font-size: 12px;
    padding: 4px;
    position: absolute;
    top: 26px;
    right: 0;
    background: #256587;
    color: white;
    border-radius: 4px 0px 4px 0px;
}

.menuIconCount {
	background: red;
    color: white;
    border-radius: 4px;
    font-size: 11px;
    padding: 4px;
	margin-left: 5px;
    min-width: 14px;
    text-align: center;
}

.button{
    color: white;
    background: #256587;
    padding: 12px;
    border-radius: 4px;
    font-family: Arial,"Lucida Grande",sans-serif;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    display: flex;
}

.pointer{
    cursor: pointer;
}

.categoryItemIcon {
    margin-right: 12px;
    display: flex;
    align-items: center;
}

.categoryItemIcon img {
    width: 24px;
    border-radius: 4px;
}

.categoryItemTitle {
    color: var(--menumodal-notif-text);
}

/* scroll bar */
::-webkit-scrollbar {width: 4px;}
::-webkit-scrollbar-track { background: var(--scrollbar-track);} 
::-webkit-scrollbar-thumb {background: var(--scrollbar-thumb); border-radius: 6px;}
::-webkit-scrollbar-thumb:hover {background: var(--scrollbar-thumb-hover); }

/* desactiva la seleccion de texto */
.unselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* copypaste directo */
.slideMenu {
    position: fixed;
    right: 0;
    top: 50px;
    background: var(--slidemenu-background);
    z-index: 5;
    width: 20vw;
    height: calc(100vh - 50px);
    box-shadow: -1px 0px 3px 0 rgba(0,0,0,.2);
}

ul.slideMenuOptions {
    height: auto;
    overflow: scroll;
    overflow: overlay;
	padding: 0px;
    margin-top: 0px;
}

ul.slideMenuOptions li {
    padding: 16px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    color: var(--slidemenu-text);
    border-bottom: 1px solid var(--slidemenu-color1);
}

.optionIcon {
	color: var(--option-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 32px;text-align: center;margin-right: 12px;}

.optionText {
    flex-grow: 1;
}

ul.slideMenuOptions li.optionsTitle {
    font-weight: 600;
    color: var(--slidemenu-text);
}

ul.slideMenuOptions li:hover {
    background: var(--slidemenu-background-hover); 
    color: var(--slidemenu-text-hover);
}

ul.slideMenuOptions li:hover.optionBolt {
    color: #f7d014;
}

.boxList {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    z-index: 1;
	background-color : var(--base-background3);
    overflow: hidden;
    min-height: calc(100vh - 50px);
}

.box {
    width: calc(100% / 6);
    height: calc(100vw / 6);
    flex-direction: column;
    display: flex;
    cursor: pointer;
    transition: .5s ease;
    -moz-transition: .5s ease;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    position: relative;
    background-size: cover !important;
	border-radius: 3px;
}

.box:hover { 
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05); 
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 4px 15px 0 rgba(0,0,0,.7);
    z-index: 2;
}

.voxHeader { 
    flex: 2;
    display: flex;
    padding: 12px;
    z-index: 2;
}

.tagList {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.box .tagList .tag {
	color: #fefefe;
    padding: 3.1px;
    border-radius: 3px;
    font-size: .7rem;
    background: var(--hometag1);
    margin-right: 3px;
}

.box .tagList .tag img{
	width: 17px;
	vertical-align: middle;
	border-radius: 3px;
	padding: 1px;
}

.tagInvisible.rss i {
    background-color: #ff8100;
    border-radius: 3px;
    padding: 2px;
    color: white;
    font-size: 14px;
}

.tagInvisible.ytb i {
    color: red;
    z-index: 2;
    padding-right: 5px;
	font-size: 21px;
}

.box .tagList .tag.ytb {
	padding: 3px 4px 3px 5px;
}

.box .tagList .tag.sticky {
	background-color: var(--tag1-sticky);
    padding: 3px;
}

.tagInvisible.csticky i {
	color: #ffffff;
	background-color: var(--hometag1);
    padding: 3.4px 4px;
    border-radius: 3px;
    font-size: 11px;
    margin-top: 1px;
    margin-bottom: 5px;
}

.title {
	padding: 12px;
	padding-top: 1px !important;
	color: white;
	font-weight: 600;
	font-size: medium;
	margin: 0;
	word-break: break-word;
}

.textShadon{
    text-shadow: 1px 1px 1px rgba(10,10,10,.9);
}

.voxComments {
    color: white;
    display: none;
    margin-right: 12px;
    margin-top: 1px;
}

.box:hover .voxComments {
    display: flex;
}

span.countComments {
    margin-left: 4px;
    font-weight: 600;
}

.over {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-width: 6px;
    transition: border 1000ms ease-in-out;
    border-style: solid;
    border-color: rgb(10 10 10 / 5%);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	border-radius: 5px;
}

.voxComments i {
    margin-right: 4px;
}

.tagInvisible {
	height: 18px;
    display: flex;
    position: relative;
}

.tagWrapper {
	display: flex;
    background: white;
    width: 13px;
    height: 10px;
    position: absolute;
    margin-left: 4px;
    margin-top: 4px;
}

.tagInvisible i {
    color: red;
    z-index: 2;
}

.tagInvisible.pollTag i {
	color: var(--hometag1);
    font-size: 21px;
    margin-right: 3px;
	margin-top: -1px;
}

.tagInvisible.pollTag .tagWrapper {
	width: 14px;
	height: 13px;
	margin-left: 1px;
}

.tagInvisible.iduTag i {
	color: var(--hometag1);
    font-size: 21px;
    margin-right: 3px;
	padding: 3px !important;
}

.tagInvisible.diceTag i {
	color: var(--hometag1);
    font-size: 21px;
    margin-right: 3px;
	margin-top: -1px;
}

.tagInvisible.iduTag .tagWrapper {
	width: 14px;
	height: 13px;
	margin-left: 1px;
}

.voxAction {
    color: white;
}

.actionBotton {
    width: 14px;
    display: none;
    justify-content: flex-end;
    position: absolute;
    top: 0;
	padding: 12px 12px 12px 6px;
    right: 0;
}

.box:hover .actionBotton {
    display: flex;
}

.voxActions {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #00000036;
	display: none;
	flex-wrap: wrap;
	z-index: 3;
}

.actionMode .voxActions {
    display: flex;
}

.voxActionBotton {
    flex-basis: 50%;
    height: 50%;
    color: white;
    display: flex;
    align-items: stretch;
    font-size: 14px;
}

.actionText {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000066;
    margin: 2px;
}

.actionText:hover {
    background: #00000040;
}

a.selectedVox.box .over {border-color: #f4a833 !important;background: #fff8f866;}

.voxWraper {
    display: flex;
    /*height: calc(100vh - 50px);*/
}

/* MODALS */

.modalBg {
    background: #00000038;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 6;
    display: none;
}

.modalBox {
    display: flex;
    display: none;
    background: white;
    z-index: 6;
    border-radius: 4px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 420px;
    flex-wrap: wrap;
    padding: 12px 0;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
    max-height: 92%;
    overflow: scroll;
    overflow: overlay;
}

.modalBox select, .modalBox input, .modalBox  textarea {
    flex-basis: 100%;
	/*width: 90%;*/
    padding: 8px 12px;
    color: var(--form-textArea-text);
    background: var(--form-textArea);
    margin: 4px 16px; 
    border-radius: 4px;
    border: 1px solid var(--form-textArea-border);
    outline: none;
	font-family: inherit;
    font-size: inherit;
    line-height: 1.5;
}

.modalBox.createVox {
    width: 420px;
}

.selectAttach {
    flex-basis: 100%;
    display: flex;
	padding: 4px 9px;
	margin-left: 6px;
}

.selectAttach div{
    color: var(--button3-color);
    background: var(--button3);
    flex-grow: 1;
    padding: 12px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    transition: 0.5s;
    border: 2px solid var(--button3-border);
}

.buttonPress {
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: .85em 1em;
    font-size: .9rem;
    background-color: var(--button1);
    border: 1px solid var(--button1);
    color: #ffffff;
    outline: none;
}

.buttonPress:hover {
    background-color: var(--button1b-hover);
    transition: all .1s ease-in;
}  

.buttonPress:active {
    border-top: var(--button1-active);
    border-bottom: var(--button1-active);
}

.createVox button.buttonPress {
    width: 91%;
	padding: 16px;
    margin: 4px 16px;
}

.openModal {
    display: flex;
}

.modalBox label {
    padding: 16px;
    flex-basis: 100%;
    margin: 12px 0;
}

.modalBox h1 {
    margin: 16px 32px;
    font-size: 22px;
    flex-basis: 100%;
}

.modalBox p {
    margin: 16px 32px;
    color: #404040;
    line-height: 1.4;
    font-size: 14px;
}

.polls {
    display: flex;
    margin: 2px 16px;
    flex-basis: 100%;
	padding-right: 0px !important;
}

.polls input {
    margin: 0 !important;
    margin-bottom: 4px;
	width: 99%;
}

.polls input:first-child {
    margin-right: 2px;
}

.polls input:last-child {
    margin-left: 2px;
}

.subtitle {
	width: 90%;
	margin: 2px 16px;
	font-size: 14px;
	background: var(--button2);
	font-weight: 600;
	border-radius: 4px;
	padding: 8px 12px;
	color: var(--button2-color);
	border: 1px solid var(--button2-border);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

span.subtitleText {
    display: flex;
    align-items: center;
    color: var(--button2-color);
    flex-grow: 1;
}

span.subtitleText i {
    margin-right: 8px;
    font-size: 22px;
    align-items: center;
    color: var(--button2-color);
}

span.subtitleToggle {
    color: var(--button2-color);
}



.modalBox.niches {
    flex-wrap: wrap;
    width: 431px;
}

.hiddeFileInput {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

select {
    -webkit-appearance: none;
}

.commentAvatar svg {
	width: 50px;
	max-width: 50px;
}

.actbar {
	display: none;
}

.menu-enabling {
	color: #efff00;
}
.menu-enabled {
	color: #00d22d;
}

.menu-enabled-red {
	color: #ff0000;
}

.rawView {
	max-width: 7em;
    max-height: 100%;
	height: 100%;
}

.rawData {
	margin-left: 10px;
    display: grid;
    grid-column: auto;
	font-size: 0.8em;
}

.rawData span {
    padding-bottom: 4px;
}

.rawElement {
	background: var(--rawAttach-background);
	border-radius: 5px;
    padding: 5px;
	display: flex;
	align-items: center;
	width: 100%;
    height: 18vh;
}

.animetitle {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px !important;
    font-size: 12px;
	color: white;
	word-break: break-word;
}

#toggleanime {
    margin-top: 10px;
}

.chatlike-img img {
    border-radius: 5px;
}

.commentAttachExpand{
	max-width: 100% !important;
}

.attachExpandIcon{
	cursor: pointer;
	position: absolute;
    right: 0;
    padding: 7px;
    color: white;
    font-size: 16px;
    text-shadow: 1px 1px #101010ad;
}

figure.commentAttachVideo {
    float: left;
    margin: 0;
    margin-right: 16px;
    width: 100%;
    height: auto;
    padding: 8px;
    border-radius: 4px;
    background: var(--box-attach-background);
    /*display: flex;*/
    align-items: flex-start;
    box-sizing: border-box;
}

figure.commentAttachVideo .video-link {
	word-break: break-all;
	margin-top: 4px;
	font-size: 0.7rem;
}

figure.commentAttachVideo .video-link a {
	color: white;
}

figure.commentAttachVideo .video-link a:hover {
	color: var(--box-test-hover);
}

figure.voxAttachVideo {
    margin: 0;
    float: left;
    margin-right: 16px;
    background: var(--box-attach-background);
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    margin-bottom: 16px;
    width: 100%;
	position:relative;
	padding-bottom:56.25%;
	height:0;
	overflow:hidden;
}

.objectContainer {
	position:absolute;
	top:0;
	left:0;
	padding: 8px;
	width:100%;
	height:100%;
	box-sizing: border-box;
}

.fixed-position {
	position: fixed;
}

.report-title {
	color: var(--menumodal-notif-title);
}

.modal-backdrop {
  z-index: -1;
}

.modalBox.createVox {
    width: 620px;
    height: 25em;
	border: 2px solid var(--modal-border);
	overflow-x: hidden;
}

.modalInput {
    width: 70%;
	margin-right: 5px;
    color: var(--form-textArea-text);
    background: var(--form-textArea);
    border-radius: 4px;
    border: 1px solid var(--form-textArea-border);
    outline: none;
}

button:focus{
	outline: inherit;
}

button.close{
	color: var(--button-close);
    text-shadow: 0 0 black;
	background-color: transparent;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
	float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    opacity: 0.5;
	cursor: pointer;
}

button.close:hover{
	color: var(--button-close-hover);
    text-shadow: 0 0 black;
}

.createVox-container {
	width: 100%;
    height: 95%;
}

.createVox-panelcontainer {	
    display: flex;
    width: 100%;
    height: 100%;
}

.createVox-panel1 {
	width: 60%;
    height: 100%;
    overflow-y: auto;
	overflow-x: hidden;
}

.createVox-panel2 {
	width: 50%;
    height: 100%;
    margin-right: 10px;
}

.createVox-titlebar {
	width: 99%;
}

.createVox-panel2a {
	width: 100%;
    height: 55%;
}

.createVox-panel2b {
	width: 100%;
    height: 40%;
    margin-top: 10px;
}

.createVox .preview {
	margin: 8px 16px;
	border: 1px solid var(--form-textArea-border);
    width: 90%;
	text-align: center;
}

.preview {
	background: var(--preview-background);
    height: 100%;
    margin: 10px;
	display: block;
	border-radius: 5px;
}

.uploadFromLink {
    border-radius: 0px 4px 4px 0px;
}

.uploadFromLocal {
    border-radius: 4px 0px 0px 4px;
    border: 2px solid #eaeaea;
}

.uploadFromLocal:hover, .uploadFromLink:hover {
	background: var(--button3-hover);
}

.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
	box-sizing: border-box;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hidden {
	display: none !important;
}

.loading-elem {
	position: absolute;
	left: 45%;
    margin-left: -45%;
    top: 45%;
    margin-top: -45px;
    z-index: 2;
    color: white;
    margin: auto;
}

.ntfavatar {
	width: 48px;
    border-radius: 4px;
    height: 48px;
    background: #3f96c5;
    display: flex;
	object-fit: cover;
}

.ntfreport {
	margin-left: 10px;
    font-size: 13px;
}

.commentIdUnico {
    background: #da1a6a;
    color: #fefefe;
	text-shadow: 1px 1px #3c3c3c;
    border-radius: 10px;
    font-size: 12px;
    padding: 0px 7px;
}

.errormsg {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    background-color: var(--info-background);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.infomsg {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    background-color: var(--info-background);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.tagshow {
	-webkit-animation: highlight 2.5s;
	animation: highlight 2.5s;
}


.tagWrapperTransparent{
	display: flex;
    width: 12px;
    height: 12px;
    position: absolute;
    margin-left: 9px;
    margin-top: 9px;
}

h4{
	display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	font-size: unset;
}

.mikan {
	width: auto;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2px;
	content: var(--logoimg);
}

.link {
	color: var(--link-color) !important;
}

.link:link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.tag {
	text-decoration: none;
    color: inherit;
    outline: none;
	margin-right: 5px;
}

.tag:hover {
	/*text-decoration: underline;*/
}

.tag:link {
    text-decoration: none;
}

.tag:visited {
    text-decoration: none;
}

.chatlike {
    width: auto;
    color: var(--slidemenu-chat-text);
	font-size: 13px;
    border-radius: 5px;
    border-radius: 5px;
}

.chatlike-user {
	color: var(--activity-user);
}

.moreContainer {
	width: 100%;
	height: auto;
	display: flex;
	z-index: 10; 
	position: fixed; 
	bottom: 0
}

.moreload {
	margin-top: 5px;
	margin-bottom: 5px;
	width: auto;
	height: auto;
	background: var(--moreload-background);
	color: white;
	align-self: center;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	border-radius: 20px;
}

.advertencia {
	background-color: #da1616;
    color: white;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.avatar{
	max-width: 50px;
	max-height: 50px;
	border-radius: 5px;
	user-select: none;
}

.modalBox {
	background: var(--modalbox-background);
	border: 1px solid var(--modal-border);
}

.infoQuote {
	bottom: 1px;
	left: 1px;
    background: #fddb9d;
    z-index: 200;
    min-width: 500px;
    max-width: 500px;
    display: flex;
    position: absolute;
    padding: 16px;
    border: 1px solid #b99d6c;
    border-radius: 2px;
    max-height: 300px;
    overflow: scroll;
    overflow: overlay;
}

.activityzone {
	padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 15px;
	overflow-x: hidden;
	border: 1px solid var(--tarjeta-border-color);
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
}

.acttitle {
	margin: 5px;
    color: var(--slidemenu-text);
    padding: 4px;
    font-size: 13px;
	display: flex;
	justify-content: space-between;
}

.homebarContainer {
	display: flex;
	padding: 3px;
}

#slideMenu {
	overflow-y: overlay;
	background: var(--slidemenu-background);
}

.chatlike-box {
	background-color: var(--slidemenu-chat);
	padding: 4px;
	padding-right: 10px;
	border-radius: 4px;
	margin-bottom: 4px;
	display: flex;
	cursor: pointer;
}

.chatlike-image {
	width: auto;
	max-width: 100%;
    max-height: 150px;
	margin-top: 2px;
	border-radius: 5px;
    border: 1px solid #3a3a3a;
}

.loadcontent {
	text-align: center;
	width: 100%;
}

.chatlike-box:hover {
	background-color: var(--slidemenu-chat-hover);
}

.chatlike-data {
	margin-left: 5px;
}

.chatlike-img img {
	max-width: 30px;
    max-height: 30px;
}

.chatlike-title {
	line-break: anywhere;
	word-break: break-all;
}

.chatlike-text span {
	word-break: break-word;
}

.chatlike-text a {
    word-break: break-word;
}

.categoryTitleNav {
	color: var(--menumodal-notif-text);
}

.categoryTitleNav:hover{
	color: var(--menumodal-notif-text-hover);
}

.fa-disabled {
  color: #c8ced2;
}

body { 
	padding-right: 0 !important;
	margin: 0;
    font-family: Lato,sans-serif;
}

.test {
	background-color: #cc0000;
}

.popupw{
		display:  'block'
}

.popupoff{
		display:  'none'
}

.modal-open {
  padding-right: 0 !important;

}

html {
  overflow-y: scroll !important;
  background-color : var(--base-background2);
}

.createCommunity-titlebar{
	margin-right: 5px;
}

.createCommunity-title{
	margin: 5px 15px;
}

.createCommunity-footer{
	margin-left: auto;
    margin-right: auto;
    display: table;
}

.ytbiconback {
	display: flex;
    background: white;
    width: 12px;
    height: 12px;
    position: absolute;
    margin: 15px;
}
.ytbiconfront {
	position: absolute;
    margin: 10px;
    color: red;
    font-size: 20px;
}

.videoiconfront{
	position: absolute;
	margin: 10px;
	color: white;
    font-size: 9px;
    background: #424242;
    padding: 2px 5px;
    border-radius: 3px;
}

.voxOption:hover {
    color: var(--box-test-hover);
}

.buttonPressv2{
	background-color: var(--button1b);
    border: 1px solid var(--button1b);
}

textarea.newVoxContent {
	height: 120px;
	width: 90%;
	min-width: 90%;
	font-size: 14px;
}

.field {
	width: 90%;
}

textarea{
	line-height: 1.5;
}

.gotop:hover {
	background: var(--goup-hover);
}

.disable-hover {
  pointer-events: none;
}

.voxBarTools {
	background: var(--bar1);
	border-radius: 3px;
	margin: 4px 8px;
	margin-right: 15px;
	padding: 10px 10px;
	color: var(--bar1-text);
	display: flex;
}

.hide {
    display: none;
}

.voxWraper a {
    color: var(--box-links);
    cursor: pointer;
	text-decoration: none;
	flex: none;
}

.voxImage{
    width: 100%;
}

section.voxData {
    padding-top: 6px;
    /*background-color : #f7e1b0;*/
	background-color: var(--base-background1);
    height: calc(100vh - 50px);
    position: fixed;
    width: 55%;
    overflow-y: scroll;
    overflow-y: overlay;
}

section.voxCommentList {
    flex-grow: 1;
    width: 45%;
    margin-left: 55%;
	/*background-color : #fff3d6;*/
	background-color: var(--base-background2);
	
}

.voxBar {
    display: flex;
}

.categoryAvatar img {
    width: 24px;
    border-radius: 4px;
}

.voxBar {
    background: var(--bar1);
    border-radius: 3px;
    margin: 4px 8px;
    margin-right: 15px;
    padding: 10px;
    color: var(--bar1-text);
    display: flex;
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 25%);
}

.voxBarTools {
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 25%);
}

.voxCategory {
    flex-basis: 100%;
    display: flex;
    align-items: center;
}

.categoryAvatar {
    margin-right: 12px;
    display: flex;
    align-items: center;
}

.categoryTitle {
	color: var(--categoryTitle);
    font-weight: 600;
    font-size: 14px;
}

.categoryTitle:hover {
	color: var(--categoryTitle-hover);
}

.voxOption {
    font-size: 13px;
    margin-right: 16px;
    cursor: pointer;

}

.voxOption i {
    margin-right: 4px;
}

.pollOption {
    flex-basis: 50%;
    background: var(--poll);
    color: #ffffff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding: 8px; /*12*/
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    word-break: break-word;
}

.pollOption:first-child {
    margin-right: 2px;
}

.pollOption:last-child {
    margin-left: 2px;
}

.pollOption:hover {
    background: var(--poll-hover);
}

.pollOption.voted {
    background: var(--poll-voted);
}


article.voxContent {
    padding: 16px;
	padding-right: 22px;
}

figure.voxAttach {
    margin: 0;
    float: left;
    margin-right: 16px;
    background: var(--box-attach-background);
    border-radius: 4px;
    padding: 8px;
    display: flex;
    align-items: flex-start;
    max-width: calc(50% - 16px);
    margin-bottom: 16px;
    width: 100%;
}

figure.voxAttach img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

header.voxBody h1 {
    margin: 0;
    margin-bottom: 16px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    color: var(--box-text);
    line-height: 105%;
    word-break: break-word;
}

.voxDescription {
    line-height: 1.6;
    word-break: break-word;
    margin-bottom: 16px;
}

/* Comentarios */

.commentBox {
    padding: 16px;
    background-color: var(--bar1);
    margin: 12px 16px;
    border-radius: 4px;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
}

textarea.commentTextarea {
    display: block;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid var(--comment-textArea-border);
    margin: 0 0 1rem;
    font-family: inherit;
    font-size: 1rem;
    color: var(--comment-textArea-text);
    background-color: var(--comment-textArea);
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.commentBoxButtons {
    display: flex;
    align-items: flex-start;
}

.attachs {
    flex-grow: 1;
    display: flex;
}

.attachButton {
    width: 40px;
    height: 40px;
    background: var(--button1);
    text-align: center;
    float: left;
    color: #ffffff;
    margin-right: 4px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid var(--button1);
    border-radius: 4px;
    /*border-bottom: 3px solid var(--button1);*/
}

.attachButton:hover {
    background: var(--button1-hover);    
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

.attachButton:active {
    border-top: var(--button1-active);
    border-bottom: var(--button1-active);
}

.commentsVoxCount {
	display: flex;
	justify-content: center;
    padding: 15px;
    background-color: var(--bar1);
    color: var(--text-voxCount);
    text-align: center;
    font-weight: 700;
    position: relative;
    margin: 16px;
    border-radius: 4px;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
}

.commentList {
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
}

.comment {
	background-color: var(--comment-background);
	border-radius: 4px;
    flex-basis: 100%;
    display: flex;
    align-items: flex-start;
    padding: 16px;
    margin-bottom: 2px;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
}

.comment:hover{
    background-color: var(--comment-background-hover);
}

.commentBody {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.commentMetadata {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
}

figure.commentAttach {
    float: left;
    margin: 0;
    margin-right: 16px;
	width: 100%;
	height: auto;
    max-width: 50%;
    padding: 8px;
    border-radius: 4px;
	background: var(--box-attach-background);
    /*border: 1px solid #000000;*/
    display: flex;
    align-items: flex-start;
}

.commentData {
    width: 100%;
    margin-top: 8px;
}
 
.commentAvatar {
    margin-right: 12px;
}

span.op {
    border-radius: 3px;
    font-size: 12px;
    padding: 3px 6px;
    background: var(--op);
    color: white;
}

.commentsTag {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.commentCreatedAt {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--text-createdAt);
}

.commentsTag span {
    margin-right: 6px;
}

.commentTag {
	background: var(--hometag1);
    color: #fefefe;
    border-radius: 3px;
    font-size: 12px; 
    padding: 2px 5px;  
}

span.author {
    font-weight: 700;
    font-size: 14px;  
    color: var(--text-author);
    margin-right: 8px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}


.commentAttach img {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	user-select: none;
}

.commentContent {
    line-height: 1.6;
    word-break: break-word;
}

textarea.commentTextarea:focus {
    background: var(--comment-textArea-focus);
}

.commentBox .preview {
	height: 110px;
	max-height: 110px;
	max-width: 110px;
	min-width: 100px;
}

.commentBox .preview img {
	width: 100%;
    height: 100%;
	object-fit: cover;
}

.commentData video {
    float: left;
}

.comment.jump{
    background: var(--comment-background-jump);
} 

.metadata {
    font-size: 14px;
    color: var(--text-name);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span.name {
    margin-right: 8px;
    margin-left: 4px;
    font-weight: 600;
}

.voxCreatedAt {
    color: var(--text-createdAt2);
    font-size: 12px;
}

.voxBody span.commentTag {
    font-weight: 300;
    background: #a2d1ea;
}

.actions {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.authorVox{
    margin-right: 8px;
    display: flex; 
    align-items: center;
}

.metaSelectedOption {
    color: #a1a1a1;
}

.pollComment {
    position: absolute;
    top: 56px;
    width: calc(50% - 45px);
    background: red;
    padding: 16px;
}

.pollBar.voxBar {
    position: relative;
}  

.commentBox .pollOption {
    margin-bottom: 12px;
    width: calc(100% - 24px);
}

.comment .pollOption {
    flex-basis: 100%;
    margin-top: 8px;
}

.voxImage{
    width: 100%;
}


[data-quote]{
    color: #236791;
    cursor: pointer;
}

[data-quote]:hover {
    color: #0e3d58;
}


.commentReply [data-quote] {
    font-size: 12px;
    margin-right: 4px;
	
}

span.greentext {
	color: #0ec502;
}

.floatQuote {
    background: var(--comment-background);
    top: -99999px;
    left: -99999px;
    z-index: 2;
    min-width: 500px;
    max-width: 500px;
    margin-top: 18px;
    margin-left: -532px; 
    display: flex;
    position: absolute;
    padding: 16px;
    border: 1px solid var(--quote-border);
    border-radius: 2px;
    max-height: 300px;
    overflow: scroll;
    overflow: overlay;
}

.floatQuote .pollOption {
    flex-basis: 100%;
    margin-top: 8px;
}

.voxWraper a:hover {
    color: var(--box-links-hover);
}

.closePreview {
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 2;
	color: #b7b5b5;
    cursor: pointer;
    border-radius: 10px;
    padding: 2px 4px;
}

.loadmore{
	font-size: 12px;
    padding: 10px 10px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: var(--loadmore-background);
    border-radius: 25px;
    margin-right: 20px;
    margin-left: 20px;
}

.loadmore:hover {
    background: var(--loadmore-background-hover);
}

.loadmore:active {
    background: var(--loadmore-background-hover);
}


.disabled {
    display: none;
}

.commentReply {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
	font-size: 12px;
}

.preview{
    position: relative;
}

ul.attachsVox {
	margin: 0px;
	padding: 0px;
	display: flex;
	list-style: none;
	position: absolute;
	right: 15px;
}

ul.attachsVox i {
	margin-left: 12px;
	font-size: 1.2rem;
	cursor: pointer;
}

.nimgPreview {
	width: auto;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

.disable-hover {
  pointer-events: none;
}

.videoPreview {
    flex-basis: 100%;
    height: 21em;
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    background-position: center center !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.videoPreview img {
    width: 20% !important;
    height: auto;
}

.comment .videoPreview {
    width: 300px;
    height: 170px;
}

.fieldv2 {
	/*height: 15px;*/
    font-size: 13px !important;
}

.alertBox {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    margin: 16px;
    flex-wrap: wrap;
    max-width: 350px;
    width: 100%;
}

.alert {
    border: 1px solid var(--alert-border);
    border-bottom: 2px solid var(--alert-border);
    border-radius: 4px;
    display: flex;
    margin-top: 4px;
    background: var(--alert-background);
    max-width: 350px;
    width: 100%;
    padding: 12px;
    color: var(--alert-color);
    font-size: 14px;
    line-height: 1.4;
    cursor: pointer;
}

.alert .content {
    flex-grow: 1;
    word-break: break-word;
}

.alert .image img {
    width: 48px;
    border-radius: 4px;
    height: 48px;
    background: #3f96c5;
    display: flex;
}

.alert .image {
    margin-right: 12px;
    display: flex;
    align-items: flex-start;
}

.alert:hover {
    box-shadow: 0px 0px 2px #00000073;
}

.ntfclose {
	position: absolute;
    right: 0;
    margin-top: -15px;
    font-weight: bold;
    padding: 8px;
    font-size: 16px;
}

.over.action {
	/*border-color: #d8832b !important;*/
	transition: border 1400ms ease-in-out;
}

.loadNewVox {
	z-index: 5;
	background: var(--moreload-background);
	width: 200px;
	padding: 10px;
	font-size: 13px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	position: fixed;
	top: 65px;
	left: calc(50% - 112px);
	border-radius: 4px;
	box-shadow: 2px 2px 2px 0 rgb(30 44 56 / 55%);
	border: 1px solid var(--moreload-background);
}

.loadNewVox:hover {
	background: var(--poll-voted);
}

.loadNewVox:active {
	background: var(--poll-voted);
}

.searchInput{
	z-index: 99;
	top: 100%;
	padding: 8px 12px;
	color: var(--form-textArea-text);
	background: var(--form-textArea);
	border: 1px solid var(--form-textArea-border);
	border-radius: 4px;
	outline: none;
	font-family: inherit;
	padding-right: 10px !important;
}

.disable-hover {
  pointer-events: none;
}

.bottonContextual {
	position: fixed;
	bottom: 12px;
	right: 12px;
	color: white;
	background: var(--newBoxButton-background);
	width: 48px;
	height: 48px;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 3;
	border-radius: 100%;
}

.modalConfig {
	max-width: 500px;
	overflow: inherit !important;
}

.modalHeader {
	flex-basis: 100%;
	display: flex;
	justify-content: space-between;
	margin: 8px 16px;
	align-items: center;
}

.modalContent {
	margin: 8px 16px;
	flex-basis: 100%;
}

.closeModal {
	cursor: pointer;
	font-weight: 600;
}

.switch {
	position: relative;
	display: inline-block;
	width: 56px;
	height: 30px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--slider-unchecked);
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 4px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 4px;
}

input:checked + .slider {
	background-color: var(--slider-checked);
}
  
input:focus + .slider {
	box-shadow: 0 0 1px var(--slider-checked);
}
  
input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.configToggle .switch {
	padding: 0;
}

.modalBox label {
	padding: 16px;
	flex-basis: 100%;
	margin: 12px 0;
}

.modalContent .config {
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
}

.modalContent .config li {
	flex-basis: 100%;
	display: flex;
	align-items: center;
}

.configToggle {
	display: flex;
	margin-left: 16px;
}

.configToggle .switch {
	padding: 0; 
}

.configTitle {
	flex-grow: 1;
}

.boxOptions {
	margin: 10px;
    align-items: baseline;
}

.boxOptions span {
	margin-left: 5px;
}

.tagNew {
	background: #12a201;
	color: #fff;
	padding: 3px;
	margin-left: 3px;
	font-size: 11px;
	border-radius: 3px;
}

.faved {
	color: #ffff00;
}

.hided {
	color: #ff0000;
}

.attachList {
    margin: 0 16px;
    display: flex;
    flex-wrap: wrap;
	box-sizing: border-box;
}

.attachList .attach {
    flex-basis: 25%;
    position: relative;
    display: flex;
    cursor: pointer;
}

.attach img {
    width: 100%;
	object-fit: cover;
    border: 1px solid white;
    filter: brightness(90%);
}

.attachType {
    position: absolute;
    right: 0;
    margin: 16px;
    color: white;
    font-size: 18px;
    text-shadow: 1px 1px #101010ad;
}

.attach:hover img {
    filter: brightness(100%);
}

.gotop {
	position: fixed;
    bottom: 0px;
	right: 15px;
    background: var(--goup);
	padding: 10px 13px 10px 13px;
    margin: 10px 0px 10px 0px;
}

.modalTitle {
	font-weight: 600;
}

.visibleCategories {
	display: flex;
	width: 100%;
	background: var(--form-textArea);
	border: 1px solid var(--button2-border);
	padding: 10px 5px 10px 0px;
	border-radius: 2px;
	cursor: pointer;
}

.visibleCategories .optionToggle {
	margin-right: 0px;
}

.configCategoriesList {
	padding: 0px;
	margin-top: 5px;
	border-radius: 2px;
}

.configCategoriesList li {
	background: var(--form-textArea);
    margin: 5px 0px;
    padding: 5px 4px 5px 10px;
}

.configCategoriesList .configToggle label {
	margin: 0px;
}

.pollLoading {
	background: var(--poll-loading);
}

.activityzone {
	background: var(--homebar-tarjeta-background);
	padding: 5px;
}
.acttitle-category {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	font-size: 14px;
	width: 100%;
}

.info {
	width: 90%;
	background: var(--homebar-tarjeta-background);
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
}

.home-menu {
	align-self: center;
	padding-left: 15px;
	padding-right: 3px;
	margin-right: 5px;
}

.home-menu-dropdown {
	width: 100px;
	font-size: 14px;
	background: var(--home-menu-background);
	position: absolute;
	right: 0;
	transform: translate(0px, 25px);
	border-radius: 2px;
	z-index: 5;
}

.home-menu-dropdown ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.home-menu-dropdown-element{
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
	padding: 5px;
}

.home-menu-dropdown-element:hover {
	background: var(--home-menu-element-hover);
}

.actionModContainer {
	background: inherit;
}

.actionModComOption:hover {
	color: #2196f3;
}

.commentPoll {
	width: 100%;
}

.commentPoll .option {
	font-size: 13px;
    font-weight: 600;
	margin-top: 10px;
	padding: 7px;
	background: var(--poll);
	border-radius: 5px;
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
}

.pollOption.commentBoxPoll {
	width: 100%;
}

.anonIcon {
	width: 50px;
	height: 50px;
	border-radius: 5px;
	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 0;
}

.anonAccesory {
	position: absolute;
    transform: translate(0px, -50px);
}

.anonText {
	width: 100%;
    height: 100%;
	margin: 0px;
	font-size: 1.1rem;
	font-family: monospace;
    display: flex;
    align-items: center;
	font-weight: bold;
    justify-content: center;
}

.actAnonText {
	font-size: 0.8rem;
}

.actAnonText.dados {
	font-size: 1.9rem;
}

/*hat muestra*/
.hhat {
	transform: translate(21px,-77px) rotate(30deg);
}
.act.hhat {
	transform: scale(.4) translate(21px,-151px) rotate(30deg);
}
@media only screen and (max-width: 600px){
	.hhat {
		transform: translate(18px,-65px) rotate(30deg);
	}
}
/*item muestra */
.hitem {
	transform: translate(-18px,-30px) rotate(0deg) scale(0.7);
}
.act.hitem {
	transform: scale(0.5) translate(-40px, -60px);
}
@media only screen and (max-width: 600px){
	.hitem {
		transform: translate(-14px,-26px) rotate(0deg) scale(0.6);
	}
}

/********* Items de halloween ********/
.hat1 {
	content: url(/assets/anon/extras/hhat.png);
}
.hbadge0 {
	content: url(/assets/anon/extras/tela.png);
}
.hbadge1 {
	content: url(/assets/anon/extras/calabaza.png);
}
.hbadge2 {
	content: url(/assets/anon/extras/calavera.png);
}
.hbadge3 {
	content: url(/assets/anon/extras/fantasma.png);
}
.hbadge4 {
	content: url(/assets/anon/extras/tela.png);
}
.hbadge5 {
	content: url(/assets/anon/extras/bat.png);
}
/********************/

.anonMulti {
	background: linear-gradient(#df0202 25%, #FFcc00 25%, #FFcc00 50%, #0579b3 50%, #0579b3 75%, #02b13c 75%, #02b13c 100%);
	animation: anonMulti 0.25s infinite;
}

.anonInvertido {
	background: linear-gradient(#31FFFF 25%, #0031CE 25%, #0031CE 50%, #FF9C63 50%, #FF9C63 75%, #FF63CE 75%, #FF63CE 100%);
	animation: anonInvertido 0.25s infinite;
}

.white {
	color: white;
}

.dados {
	font-size: 2.5rem;
    font-family: sans-serif;
}

/* KEYFRAMES */
@keyframes highlight {
	from {
		background-color: #444444;
	}
}

@keyframes anonInvertido {
	20%  {background: linear-gradient(#31FFFF 25%, #0031CE 25%, #0031CE 50%, #FF9C63 50%, #FF9C63 75%, #FF63CE 75%, #FF63CE 100%)}
	60%  {background: linear-gradient(#FF63CE 25%, #31FFFF 25%, #31FFFF 50%, #0031CE 50%, #0031CE 75%, #FF9C63 75%, #FF9C63 100%)}
	80%  {background: linear-gradient(#FF9C63 25%, #FF63CE 25%, #FF63CE 50%, #31FFFF 50%, #31FFFF 75%, #0031CE 75%, #0031CE 100%)}
	100% {background: linear-gradient(#0031CE 25%, #FF9C63 25%, #FF9C63 50%, #FF63CE 50%, #FF63CE 75%, #31FFFF 75%, #31FFFF 100%)}
}

@keyframes anonMulti {
	20%  {background: linear-gradient(#df0202 25%, #FFcc00 25%, #FFcc00 50%, #0579b3 50%, #0579b3 75%, #02b13c 75%, #02b13c 100%)}
	60%  {background: linear-gradient(#02b13c 25%, #df0202 25%, #df0202 50%, #FFcc00 50%, #FFcc00 75%, #0579b3 75%, #0579b3 100%)}
	80%  {background: linear-gradient(#0579b3 25%, #02b13c 25%, #02b13c 50%, #df0202 50%, #df0202 75%, #FFcc00 75%, #FFcc00 100%)}
	100% {background: linear-gradient(#FFcc00 25%, #0579b3 25%, #0579b3 50%, #02b13c 50%, #02b13c 75%, #df0202 75%, #df0202 100%)}
}

/* CODIGO DE VOXEDRIP.CSS RESPONSIVO */
@media only screen and (max-width: 1000px) {
	.actbar {
		display: inherit !important;
	}
	.attachExpandIcon {
		display: none !important;
	}
	.searchInput{
		position: absolute;
		height: 50%;
		width: 100%;
		left: 0;
		padding: 20px
	}
}

/* Resolucion 1024px */
@media only screen and (max-width: 1124px) {
    .box {
        width: calc(100% / 5);
        height: calc(100vw / 5);
    }
}

@media only screen and (max-width: 1000px) {
	.box {
        width: calc(100% / 4);
        height: calc(100vw / 4);
    }
	
    .slideMenu{
        width: 40vw;
    }
}

/* Tablet */
@media only screen and (max-width: 900px) {
    .box {
        width: calc(100% / 4);
        height: calc(100vw / 4);
    }
}
@media only screen and (max-width: 700px) {
    .box {
        width: calc(100% / 3);
        height: calc(100vw / 3);
    } 
    .actionBotton {
        display: flex;
    }
}

/* Tablets */
@media only screen and (max-width: 800px) {

    section.voxData {
        flex-basis: 100%;
        height: auto;
        position: static;
    }
    
    section.voxCommentList {
        margin: 0;
        flex-basis: 100%;
    }
    
    .voxWraper {
        flex-wrap: wrap;
    }

    .floatQuote {
        display: none;
    }
    
    figure.commentAttach {
        width: 100%;
        max-width: 100%;
    }


    .globalMessages {
        padding: 16px 12px 0px 12px;
    }

    .sendMessage {
        padding: 0px 16px;
    }
}

/* Celulares */
@media only screen and (max-width: 600px) {
	.actionModContainer {
		margin-top: 5px;
	}
	
	figure.voxAttach {
        max-width: 100%;
        margin: 0;
        float: none;
        width: auto;
    }

    .comment{
        padding: 16px 12px;
    }

    figure.voxAttach .voxImage{
        width: 100%;
    }

    .commentBox {
        margin: 0;
        padding: 16px 12px;
    }

    header.voxBody h1 {
        margin: 0px 4px;
    }

    .voxDescription {
        margin: 4px;
        margin-bottom: 16px;
    }

    article.voxContent {
        padding-top: 2px;
    }

    span.voxOptionText {
        display: none;
    }

    header.voxBody h1 {
        margin: 12px 4px;
    }

    .comment .videoPreview {
        width: auto;
    }

    .voxBar, .voxBarTools {
        margin: 4px 8px !important;
    }
    
    article.voxContent {
        padding: 4px 8px;
    }

    section.voxData {
        padding-top: 4px;
    }

    .commentsVoxCount {
        margin: 16px 0px;
        border-radius: 0;
    }
    
    .commentList {margin: 16px 0px;}
    
    .commentAvatar img {width: 42px; max-width: 42px;}
	
	.commentAvatar .anonIcon {
		width: 42px; 
		max-width: 42px; 
		height: 42px; 
		max-height: 42px;
	}
	.commentAvatar .anonText {
		font-size: 0.9rem;
		line-height: 42px;
	}
	
	.commentAvatar .anonText.dados {
		font-size: 1.9rem;
	}
	
	.anonText.actAnonText.dados {
		font-size: 1.9rem;
	}
	
    .commentBox {
        border-radius: 0px;
    }

    .attach {
        flex-basis: 50% !important;
    }
    
    .attachList {
        margin: 0;
    }

    .sendMessage {
        padding: 16px 16px 0px 16px;
    }
    
    .commentAvatar {
        margin-right: 8px;
    }
	
	button.close{
		margin-right: 5px;
	}

	#previewInputVox {
		/*display: block !important;*/
	}

	.createVox .preview img {
		width: 100%;
	}

	.createVox-panelcontainer {	
		display: block !important;
	}

	.createVox-panel1 {
		width: 100% !important;
		height: auto !important;
	}

	.createVox-panel2 {
		width: 100% !important;
		height: auto !important;
		margin-left: 0px !important;
		padding-bottom: 10px;
	}

	.createVox .preview {
		display: none !important;
	}

	.createVox-panel2a {
		height: auto !important;
	}
	
	.actbar {
		display: inherit !important;
	}
	
	.commentAvatar svg {
		width: 42px !important;
		max-width: 42px !important;
	}
	
	.popupw{
		display:  'none'
	}
	
	.boxList {
		width: inherit !important;
	}
	
	.homeBar {
		display: none !important;
	}
	
	.box {
        width: calc(100% / 2);
		height: calc(100vw / 2);
    }
    .modHome{
        width: 100%;
    }
	.modalBox {
        min-width: auto;
        width: calc(100% - 12px) !important;
    }
	
	.onlyMobile {
        display: flex !important;
    }

    .alertBox {
        max-width: calc(100vw - 32px);
    }
	
	nav {
        min-height: 50px;
    }
	
	.menuModal {
        left: 0;
        width: 100%;
        max-height: 100vh;
        height: calc(100vh - 52px);
    }
	
	.newBox{
        display: none;
    }

    li.menuIcon{
        display: none;
    }
	
	li.menuIcon.mobile{
		display: flex;
	}
	
	.bottonContextual{
        display: flex;
    }
	
	.slideMenu{
        width: 100%;
    }
	
	.categoryListNavbar {top: 50px;left: 0;width: 100%;height: calc(100vh - 50px);}

    li.navbarCategories {
        position: static;
    }

    .navbarCategories .categoryItemIcon img {width: 42px;}

    .navCategoryTitle{ display: none; }

    .categorySelected i {
        margin: 0px;
    }
	
	.selectAttach {
		margin: 0px;
		padding: 5px 15px;
	}
}

@media only screen and (max-width: 600px) and (max-height: 900px) {
.modalBox.createVox {
	height: 71vh !important;
}	
}

@media only screen and (max-width: 600px) and (max-height: 823px) {
.modalBox.createVox {
	height: 61vh !important;
}	
}

@media only screen and (max-width: 600px) and (max-height: 740px) {
.modalBox.createVox {
	height: 68vh !important;
}	
}

@media only screen and (max-width: 600px) and (max-height: 670px) {
.modalBox.createVox {
	height: 78vh !important;
}	
}

@media only screen and (max-width: 600px) and (max-height: 568px) {
.modalBox.createVox {
	height: 90vh !important;
}	
}