<!doctype html>
<html lang="en">
	<head>
	<%- include('./fragments/head', it); %>
	</head>
	<body class="loginContainer">
	<style>
	
		body {
			background: var(--common-border-color);
		}
		
		.image {
			display: flex;
			width: 100%;
			justify-content: center;
		}
		
		.code {
			text-align-last: center;
			font-size: 6rem;
			margin: 0px;
			color: var(--textColor);
		}
		.message {
			font-size: 1.5rem;
			text-align-last: center;
			text-align: center;
			color: var(--textColor);
		}
		
		.info {
			background: var(--sideBarBackground);
			width: 50%;
			position: fixed;
			padding: 30px;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
		
		.bottomlink {
			display: flex;
			width: 100%;
			justify-content: center;
			margin-top: 30px;
		}
		
		.content {
			width: 100%;
		}
		
		.generalcontainer {
		    margin-top: 30px;
			display: flex;
		}
		
		.bottomlink a {
			font-size: 1.0rem;
		    text-decoration: underline;
		}
		
		.bottomlink a:hover {
			color: orange;
		}
		
		@media only screen and (max-width: 800px) {
			.generalcontainer {
				display: block;
			}
			.info {
				width: 80%;
			}
		}
		
	</style>
		<main class="info">
			<div class="generalcontainer">
				<div class="image">
					<img style="width: 200px" src="/assets/logo.svg"/>
				</div>
				<div class="content">
					<h1 class="code"><%= it.error.code %></h1>
					<h2 class="message"><%= it.error.message %></h2>
				</div>
			</div>
			<div class="bottomlink">
				<a href="/">Volver al Inicio</a>
			</div>
		</main>
	</body>
</html>
