<!doctype html>
<html lang="en">
<%- include('./common/header'); %>
	<body>
		-index body-
		</br>
		Datos de sesion:
		</br>
		<%= JSON.stringify(sesion) %>
	</body>
<%- include('./common/footer'); %>
</html>
