<!doctype html>
<html lang="en">
	<head>
	<%- include('./common/head', it); %>
	</head>
	<body class="loginContainer">
	<script src="/node/jquery/dist/jquery.min.js" type="text/javascript"></script>
		<main class="info">
			
			<!-- TODO: interfaz aun no implementada -->
			<h3>Bienvenido a Cchan</h3>
			<div style="text-align: left">
				Cchan es un imageboard de uso agnostico que puede ser configurado facil y rapidamente, como un foro temático ligero.
				</br>
				Cchan posee dos interfaces, la interfaz basada en voxed y la v1, en la interfaz basada en voxed, la pagina mezcla el contenido mas reciente en la home y permite subdividir todo por categorias.
				</br>
				En la v1, la home subdivide el contenido agrupando las categorias en tarjetas que sirven de resumen del contenido mas reciente de cada una de estas, que a su vez se reordenan en base a la actividad.
				</br>
				
			</div>
			</br></br>
			<a href="/" style="color: white;">Volver al Inicio</a>
			
		</main>
	</body>
	<%- include('./common/footer', it); %>
</html>
