<!doctype html>
<html lang="en">
	<head>
	<%- include('./fragments/head', it); %>
	<style>
		body {
			display: flex;
			height: 100vh;
			padding: 0px;
			background: var(--mainBackground);
			color: var(--textColor);
		}
		
		ul {
			padding: 5px;
			margin: inherit;
		}
		
		h4 {
			margin: 5px 0px;
		}
		
		li {
			list-style: inherit;
		}

		h3 img {
			width: 15px;
			height: 15px;
		}
		
		.infomenu {
			position: fixed;
			height: 100%;
			width: 14rem;
			background: var(--sideBarBackground);
			padding: 20px;
		}
		
		.infoContainer {
			width: auto;
			padding: 20px;
			margin-left: 14.5rem;
		}
		
		.menulist {
			list-style: none;
			padding: 0;
		}
		
		.menuElement {
			padding: 10px;
			display: flex;
			align-content: center;
			align-items: center;
			justify-content: flex-start;
		}
		
		.menuElement span {
			padding-left: 10px;
		}
		
		.menuElement:hover {
			background: var(--colorAccent);
			cursor: pointer;
		}
		
		.contentElement {
			min-height: 100vh;
			padding: 50px 0px;
			padding-bottom: 10px;
			margin-bottom: 10px;
			border-bottom: 1px solid var(--colorAccent);
		}
		
		.buttonElement {
			display: none;
			text-align: center;
		}
		
		@media only screen and (max-width: 600px) {
			.infoContainer {
				margin-left: 0px;
			}
			.info {
				padding: 0px;
			}
			.infomenu {
				display: none;
			}
			.buttonElement {
				display: block;
			}
		}
	</style>
	</head>
	<body class="loginContainer">
	<script src="/node/jquery/dist/jquery.min.js" type="text/javascript"></script>
	
	<div class="infomenu">
		<div style="padding: 5px;">MENU</div>
		<ul class="menulist">
			<li class="menuElement" data-id="reglas"><img src="/assets/uicons/alert-circle.svg"></img><span>Reglas</span></li>
			<li class="menuElement" data-id="use"><img src="/assets/uicons/user.svg"></img><span>Uso de Mikanchan</span></li>
			<li class="menuElement" data-id="news"><img src="/assets/uicons/file-text.svg"></img><span>Noticias/Novedades</span></li>
			<li class="menuElement" onclick="location.href='/'">Volver a la home</li>
		</ul>
	</div>
	
	<div class="infoContainer">
		<div class="infocontent">
			<div class="buttonElement" onclick="location.href='/'">Volver a la home</div>
		
			<div class="contentElement" id="reglas">
				<h3><img src="/assets/logo.png"> Reglas</h3>
				<h4>-acá irian las reglas-</h4>
			
				
			</div>
		
			<div class="contentElement" id="use">
				<h3><img src="/assets/logo.png"> Como usar Mikanchan</h3>
				<h4>Tags disponibles en los comentarios y/o temas</h4>
				<ul>
				<li>&gt es el greentext de toda la vida</li>
				<li>&gt&gt se utiliza para taguear el comentario de un usuario</li>
				<li>:: se usa para colocar un link interno en la página o un link externo sin abrir una nueva pestaña</li>
				<li>&gthttps:// se usa para añadir un link externo que abre una nueva pestaña.</li>
				<li>$RGB -texto- $ colorea el -texto- usando el valor RGB en hexadecimal, (0xRGB ejemplo, F00:rojo 0F0:verde 00F:azul)</li>
				</ul>
				<div class="buttonElement" onclick="location.href='/'">Volver a la home</div>
			</div>
			
			<div class="contentElement" id="news">
				<h3><img src="/assets/logo.png"> Noticias/Novedades</h3>
				<h4>-Acá iran las novedades-</h4>
				<div class="buttonElement" onclick="location.href='/'">Volver a la home</div>
			</div>
			</br></br>
		</div>
	</div>
	<script>
	$(document).ready(function() {
		$(document).on("click", ".menuElement", function (e) {
			let data = $(e.currentTarget).data();
			let offset = $(`#${data.id}`).offset().top;
			window.scrollTo({top: offset});
		});
	});
	</script>
	</body>
</html>