<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="CChan">
<meta name="image" content="/icon.png">
<meta name="description" content="Cchan es un imageboard basado en voxed">
<meta name="keywords" content="voxed,social,imageboard">
<title>CChan</title>
<link rel="shortcut icon" href="/favicon.ico?v=4.1.7">

