<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="CChan">
<meta name="image" content="/icon.png">
<meta name="description" content="Cchan es un imageboard basado en voxed">
<meta name="keywords" content="voxed,social,imageboard">
<title>CChan</title>
<link rel="shortcut icon" href="/favicon.ico">

<!-- Aca iran los estilos css cargados en el header -->
<link rel="stylesheet" rel="preload" as="style" href="/css/cchan.css">
<link rel="stylesheet" href="/node/css-tooltip/dist/css-tooltip.css" />

<!-- carga de configuraciones y temas en el head. -->
<script>
	const html = document.getElementsByTagName('html')[0];
	var darkmode = <%= (it.sesion.config) ? it.sesion.config.darkmode : false %>;
	//seleccionar tema
	html.dataset.theme = (darkmode) ? "darkmode" : "";
</script>
