<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Cchan</title>

<!-- metadatos para el buscador -->
<% if (it.kind.search("tema") === -1) { %>
<meta property="og:image"  content="/icon.png">
<meta name="description" content="Cchan es un imageboard basado en voxed">
<meta name="keywords" content="voxed,social,imageboard">
<meta name="title" content="Cchan">
<% } else { 
let BOX = it.data.boxs[0]; %>
<meta property="og:image"  content="<%= BOX.img.preview %>">
<meta name="description" content="<%= BOX.content.body.substr(0,200) %>">
<meta name="keywords" content="voxed,social,imageboard">
<meta name="title" content="<%= BOX.content.title %>">
<% } %>

<% if ((it.sesion.config) ? it.sesion.config.darkmode : false) { %>
	<meta name="theme-color" content="#0a0a0a">
	<meta name="msapplication-TileColor" content="#0a0a0a">
	<meta name="msapplication-navbutton-color" content="#0a0a0a">
	<meta name="apple-mobile-web-app-status-bar-style" content="#0a0a0a">
<% } else { %>
	<meta name="theme-color" content="#fbfbfb">
	<meta name="msapplication-TileColor" content="#fbfbfb">
	<meta name="msapplication-navbutton-color" content="#fbfbfb">
	<meta name="apple-mobile-web-app-status-bar-style" content="#fbfbfb">
<% } %>

<link rel="shortcut icon" href="/favicon.ico">

<!-- Aca iran los estilos css cargados en el header -->
<link rel="stylesheet" rel="preload" as="style" href="/css/cchan.css">

<!-- carga de configuraciones y temas en el head. -->
<script>
	const html = document.getElementsByTagName('html')[0];
	var darkmode = <%= (it.sesion.config) ? it.sesion.config.darkmode : false %>;
	//seleccionar tema
	html.dataset.theme = (darkmode) ? "darkmode" : "";
</script>
