<form class="modalBox login" id="idForm" action="/api/idlogin" method="POST" enctype="multipart/form-data" aria-modal="true" role="dialog">
	<div class="createVox-titlebar">
		<button type="button" id="idClose" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
	</div>
	</br>
	<h3>Bienvenido a Cchan</h3>
	<h5>Para poder usar la página necesitas generar un <b>ID</b> de sesion:</h5>
	<input type="text" class="modalInput" name="userid" id="userid" placeholder="ID del Usuario" value="<%= it.sesion.uid %>">
	<input type="hidden" name="_csrf_token" id="_csrf_token" value="<%= it.sesion.simpleCsrfToken %>">	
	<h5>Podes pegar un <b>ID</b> existente para recuperar tu sesion, si no tenes uno se te asignará al azar</h5>	
	
	<!-- <h5>-captcha aca-</h5> -->
	
	<h5>Al presionar <b>continuar</b> aceptas las <a href="/info/reglas">reglas del sitio</a>.</h5>	
	<div class="loginFormButtons">
		<button class="buttonPress" id="idButton">
			<i id="loadingLogin" class="fas fa-circle-notch fa-spin hidden"></i>
			<span id="idText">Continuar</span>
		</button>
	</div>
	<div style="margin: 5px 20px;font-size: 11px;"><a href="/login">Iniciar Sesion con una cuenta</a></div>	
</form>
<style>
	.login h3 {
		text-align: center;
		margin-top: 0;
	}

	.login a {
		color: cyan;
	}
	
	.login a:hover {
		color: #ff8100;
	}

	.login h5 {
		align-self: center;
		font-weight: inherit;
		font-size: 0.9rem;
		margin: 5px 20px;
	}
	
	.login {
		overflow: hidden;
		max-width: 400px;
	}
	
	.login input {
		width: 94%;
		padding: 10px;
		margin-bottom: 10px;
	}
	
	.loginFormButtons {
		display: flex;
		justify-content: center;
	}
	
	.loginFormButtons button {
		margin-right: 10px;
		margin-top: 5px;
	}	
</style>
