<div class="modalBox admModal" id="admModal">
	<div style="padding: 2px 10px;">
		<button type="buttonPress" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>
	<div class="modalSection admModal">
		<div style="padding: 0px 15px;">
			<div>Informacion del OP</div>
			<div id="admOPuid">UID: -uid-</div>
		</div>
		<div style="width: 100%;display: flex;align-items: center;">
			<select id="modMovecat">
				<option value="" selected="selected" disabled="disabled">Elige una categoría</option>
				<option value="opc1">Opcion1</option>
			</select>
			<button style="margin-right: 10px;height: 40px;" id="actionMoveBox" type="button" class="buttonPress buttonPressv2">Mover</button>
		</div>
		<div style="padding: 0px 15px;">
			<button type="button" class="buttonPress buttonPressv2 actionModBoxOption" data-dismiss="modal" data-action="box_delete" data-bid="<%= (it.data.boxs) ? it.data.boxs[0].bid : "" %>">Borrar Tema</button>
			<button type="button" class="buttonPress buttonPressv2 actionModBoxOption" data-dismiss="modal" data-action="box_ban" data-bid="<%= (it.data.boxs) ? it.data.boxs[0].bid : "" %>">Banear Usuario</button>
		</div>
	</div>
</div>
