<form class="modalBox createVox show" id="createVox" enctype="multipart/form-data" action="/api/new" method="POST" aria-modal="true" role="dialog">
	<input id="bimg" name="img" type="hidden" value="">
	<input id="bvid" name="vid" type="hidden" value="">
	<input id="_csrf_token" name="_csrf_token" type="hidden" value="<%= it.sesion.simpleCsrfToken %>">
	
	<div class="createVox-container">
		<div class="createVox-titlebar">
			<button type="buttonPress" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
		</div>
		<div class="createVox-panelcontainer">
			<div class="createVox-panel1">
				<select name="cat" id="bcat" style="width: 90%;">
					<option value="" selected="selected" disabled="disabled">Elige una categoría o comunidad</option>
					<% it.data.cats.forEach(function(categoria){ %>
						<option value="<%= categoria.content.tid %>"><%= categoria.content.name %></option>
					<% }); %>
				</select>
				<input id="btitle" name="title" class="field" type="text" placeholder="Titulo" maxlength="120">
				<textarea id="voxTextarea" name="content" class="newVoxContent" maxlength="5000" placeholder="Escribe el contenido del tema..."></textarea>
				<div class="subtitle pointer" data-toggle="modal" data-target="#polls" data-backdrop="false">
					<span class="subtitleText"><i class="fas fa-poll"></i>Encuesta</span>
					<span class="subtitleToggle"><i class="fas fa-plus"></i></span>
				</div>
				<div class="polls hide" id="polls">
					<input class="fieldv2" type="text" name="pollOne" maxlength="50" placeholder="Opcion 1">
					<input class="fieldv2" type="text" name="pollTwo" maxlength="50" placeholder="Opcion 2">
				</div>
				
				<div class="subtitle pointer" id="toggleanime" data-toggle="modal" data-target="#anime" data-backdrop="false">
					<span class="subtitleText"><i class="fas fa-cog"></i>Opciones</span>
					<span class="subtitleToggle"><i class="fas fa-plus"></i></span>
				</div>
				<div class="polls hide" id="anime">
					<% if (it.data.users[0] && (it.data.users[0].permisos.includes("ADMIN") || it.data.users[0].permisos.includes("GMOD") || it.data.users[0].permisos.includes("MOD"))) { %>
						<div style="padding:5px">
							<input type="checkbox" name="modAnon" style="width:auto" checked="true"><span> Publicar Anonimamente</span>
						</div>
					<% } %>
					<div class="boxOptions">
						<input type="checkbox" name="dados" style="width:auto"><span>Dados</span></input>
						<input type="checkbox" name="idunico" style="width:auto"><span>ID Unico</span></input>
					</div>
					<input class="fieldv2" type="text" name="subtitle" maxlength="50" placeholder="Subtitulo">
				</div>
			</div>
			<div class="createVox-panel2">
			<div class="createVox-panel2a">
				<div class="preview previewb" id="previewInputVox">
					<img id="nimgpreview" class="nimgPreview" src="/assets/dragdrop.png" alt=""> 
				</div>
			</div>
			<div class="createVox-panel2b">
				<div class="selectAttach" id="voxAttachs">
					<div id="uploadButtonPost" class="uploadFromLocal tooltip-bottom" onclick="openFileSelector('bfile')" data-tooltip="Subir archivo"><i class="fas fa-upload"></i></div>
					
					<div id="blinkButton" class="uploadFromLink tooltip-bottom"><i class="fas fa-link"></i></div>	
					
					<input name="file" type="file" id="bfile" accept="image/gif, image/jpeg, image/jpg, image/png, video/webm, video/mp4" class="hiddeFileInput" data-preview="previewInputComment">
				</div>
				
				<input class="field fieldv2 hidden" id="burl" type="text" name="burl" maxlength="300" placeholder="Pega un link de youtube o imagen...">
				
				<button class="buttonPress buttonPressv2" id="newVox" type="submit">
					<i id="bspin" class="fas fa-circle-notch fa-spin hidden"></i>
					<b id="bupp"></b>
					<span id="btext">Iniciar Tema</span> 
				</button>
			</div>
			</div>
		</div>
	</div>
</form>