<!-- cargar notificaciones directamente de la base de datos. -->
<!-- TODO: carga asincronica? -->
<% if (it.data.notifs){ %>
	<% if (it.data.notifs.length != 0){ %>
		<span class="menuIconCount" id="menuIconCount" data-count="<%= it.data.notifs.length %>"><%= it.data.notifs.length %></span>
	<% } %>
<% } %>	