<div class="slideMenu unselect hide" id="slideMenu">
	<ul class="slideMenuOptions">
		<li data-toggle="modal" data-target="#createVox" data-backdrop="false">
			<div class="optionIcon"><i class="fas fa-plus" aria-hidden="true"></i></div>
			<div class="optionText">Nuevo Tema</div>
		</li>
		
	<% if (it.renderConfig.ENABLE_COMMUNITIES){ %>
		<li data-toggle="modal" data-target="#createCommunity" data-backdrop="false">
			<div class="optionIcon"><i class="fas fa-plus" aria-hidden="true"></i></div>
			<div class="optionText">Nueva Comunidad</div>
		</li>
	<% } %>
		<li onclick="location.href='/favoritos'">
			<div class="optionIcon"><i class="fas fa-star" aria-hidden="true"></i></div>
			<div class="optionText">Favoritos</div>
		</li>
		
		<li onclick="location.href='/ocultos'">
			<div class="optionIcon"><i class="fas fa-eye" aria-hidden="true"></i></div>
			<div class="optionText">Temas Ocultos</div>
		</li>
		
		<li data-toggle="modal" data-target="#config" data-backdrop="false">
			<div class="optionIcon"><i class="fas fa-cog" aria-hidden="true"></i></div>
			<div class="optionText">Configuracion</div>
		</li>
	</ul>
	
	<div class="activityzone" style="margin: 0px">
		<div class="acttitle">Comentarios Recientes<i class="fas fa-comment"></i></div>
		<div class="chatlike" id="movilActivityList"></div>
	</div>
	<div style="height: 100px"></div>
	
</div>