<!-- formulario de comentario -->
<form class="commentBox" id="createComment" action="/api/com" method="POST" enctype="multipart/form-data">
	<input type="hidden" name="bid" value="<%= it.data.boxs[0].bid %>">
	<input type="hidden" name="img" id="cimg" value="">
	<input type="hidden" name="vid" id="cvid" value="">
	<input type="hidden" name="token" id="token" value="<%= it.token %>">
	
	<textarea name="content" class="commentTextarea" id="commentTextarea" maxlength="3000" placeholder="Escribe un comentario o pega una imagen..."></textarea>
				
	<div class="commentBoxButtons">
		<div class="attachs" id="commentAttachs">
			<div id="uploadButton" onclick="openFileSelector('cfile')" class="attachButton tooltip-bottom">
				<i class="fas fa-upload"></i> 
			</div>
			<input name="file" type="file" id="cfile" accept="image/gif, image/jpeg, image/jpg, image/png, video/webm, video/mp4" class="hiddeFileInput">
			
			<input type="text" class="modalInput hidden" name="url" id="curl" placeholder="Pega un link de youtube, video o imagen...">
			<div id="linkButton" class="attachButton tooltip-bottom">
				<i class="fas fa-link"></i> 
			</div>	
			
			<div class="preview hide" id="previewInputComment">
				<div class="closePreview" id="closePreview"><i class="fas fa-times"></i></div> 
				<i class="fas fa-circle-notch fa-spin loading-elem hidden" id="loadingElem"></i>
				<img id="imgpreview" src="/" alt="">
			</div>
		</div>			
		<button class="buttonPress newComment" id="newComment">
			<i id="loadingCom" class="fas fa-circle-notch fa-spin hidden"></i>
			<b id="upp"></b>
			<span id="ctext">Comentar</span>
		</button>
	</div>
</form>